In [1]:
#在移动互联网-电商领域，工作地为北京的企业中，企业的产品经理的最低薪资从高到低排列
import numpy as np
import pandas as pd
df = pd.read_excel('/home/tianchi/myspace/产品.xls',index_col='平均薪资/k')
df1=df[['领域','工作地点','公司名称','最高薪资/k','最低薪资/k']] #这几列是我想要的
df1.sort_values(by='最低薪资/k',ascending=False) # 将最高薪资按倒序排列
grouped_mul = df1.groupby(['领域','工作地点'])#按照领域和工作地点分组
grouped_mul.get_group(('移动互联网,电商','北京'))#只看北京的电商领域的公司薪资

              领域 工作地点         公司名称  最高薪资/k  最低薪资/k
平均薪资/k
40.0    移动互联网,电商   北京         伊澳科技      50      30
40.0    移动互联网,电商   北京         伊澳科技      50      30
25.0    移动互联网,电商   北京         高灯科技      30      20
40.0    移动互联网,电商   北京         伊澳科技      50      30
20.0    移动互联网,电商   北京         盟主直播      25      15
4.0     移动互联网,电商   北京         数字奇迹       5       3
6.5     移动互联网,电商   北京          好生活       8       5
45.0    移动互联网,电商   北京         伊澳科技      55      35
27.5    移动互联网,电商   北京          当当网      35      20
25.0    移动互联网,电商   北京          36氪      30      20
30.0    移动互联网,电商   北京       国美控股集团      40      20
30.0    移动互联网,电商   北京         易车公司      35      25
25.0    移动互联网,电商   北京          当当网      30      20
37.5    移动互联网,电商   北京         每日优鲜      50      25
11.5    移动互联网,电商   北京  掌上先机-旺店通ERP      15       8
5.0     移动互联网,电商   北京         万疆网络       6       4
2.5     移动互联网,电商   北京          车主邦       3       2
22.5    移动互联网,电商   北京          车主邦      30      15
11.5    移动互联网,电商   北京  掌上先机-旺店通ERP      15       8
25.0    移动互联网,电商   北京          打扮家      30      20
7.0     移动互联网,电商   北京           知网       8       6
55.0    移动互联网,电商   北京         蘑菇车联      70      40
65.0    移动互联网,电商   北京         每日优鲜      80      50
55.0    移动互联网,电商   北京         每日优鲜      65      45
42.5    移动互联网,电商   北京         每日优鲜      50      35
22.5    移动互联网,电商   北京          好生活      30      15
45.0    移动互联网,电商   北京         蘑菇车联      60      30
35.0    移动互联网,电商   北京         每日优鲜      45      25

In [2]:
#每个领域的的不同工作地点之间的最低薪资对比
import numpy as np
import pandas as pd
df = pd.read_excel('/home/tianchi/myspace/产品.xls')
df1=df[['领域','工作地点','公司名称','最高薪资/k','平均薪资/k','最低薪资/k']] 
#df1.sort_values(by='最高薪资/k',ascending=False) 
group1=df1.groupby(['领域','工作地点'])
group1.agg({'最低薪资/k':['max']})

                最低薪资/k
                   max
领域         工作地点
VR丨AR      北京        8
不限         上海       30
           太原        3
           宁波        8
           杭州       15
人工智能       上海       40
           北京       40
           杭州        6
           深圳       40
人工智能,VR丨AR 上海        4
人工智能,企业服务  北京       30
           杭州       40
人工智能,信息安全  深圳       15
人工智能,数据服务  杭州       20
人工智能,软件开发  上海       15
           北京        5
           成都       10
           杭州       15
人工智能、软件开发  北京       15
企业服务       上海       20
           北京       40
           天津        5
           广州       15
           成都       35
           杭州       30
           深圳       20
           珠海        3
           重庆       15
企业服务 信息安全  长沙       20
企业服务 工具    北京       15
...                ...
金融         杭州       20
           深圳       40
           苏州       10
           长沙       10
金融 软件开发    杭州       10
金融,人工智能    深圳        8
金融,企业服务    郑州       15
金融,其他      西安       10
金融,区块链     北京       25
金融,医疗丨健康   北京       20
金融,数据服务    上海       35
           北京       30
           杭州       20
           深圳       28
金融,消费生活    佛山       15
金融,物流丨运输   北京       30
金融,电商      上海       10
           北京       50
           杭州       20
金融,移动互联网   上海       12
           北京       15
           广州        7
           成都       15
           杭州        5
           深圳       30
           珠海       10
金融,软件开发    北京       35
           杭州       15
           苏州        3
金融、数据服务    天津       15

[630 rows x 1 columns]